<a href="https://colab.research.google.com/github/AabidMK/RealtyAI_Infosys_Internship_Aug2025/blob/main/DataSetExploration_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

California Housing Price

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
import zipfile

# Unzip the file
with zipfile.ZipFile('/content/sample_data/housing.csv.zip', 'r') as zip_ref:
    zip_ref.extractall('/content/sample_data/')

# Now load the extracted CSV
df = pd.read_csv('/content/sample_data/housing.csv')
print(df.head())

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.23     37.88                41.0        880.0           129.0
1    -122.22     37.86                21.0       7099.0          1106.0
2    -122.24     37.85                52.0       1467.0           190.0
3    -122.25     37.85                52.0       1274.0           235.0
4    -122.25     37.85                52.0       1627.0           280.0

   population  households  median_income  median_house_value ocean_proximity
0       322.0       126.0         8.3252            452600.0        NEAR BAY
1      2401.0      1138.0         8.3014            358500.0        NEAR BAY
2       496.0       177.0         7.2574            352100.0        NEAR BAY
3       558.0       219.0         5.6431            341300.0        NEAR BAY
4       565.0       259.0         3.8462            342200.0        NEAR BAY

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB
None

In [ ]:
print(df.describe())

          longitude      latitude  housing_median_age   total_rooms  \
count  20640.000000  20640.000000        20640.000000  20640.000000
mean    -119.569704     35.631861           28.639486   2635.763081
std        2.003532      2.135952           12.585558   2181.615252
min     -124.350000     32.540000            1.000000      2.000000
25%     -121.800000     33.930000           18.000000   1447.750000
50%     -118.490000     34.260000           29.000000   2127.000000
75%     -118.010000     37.710000           37.000000   3148.000000
max     -114.310000     41.950000           52.000000  39320.000000

       total_bedrooms    population    households  median_income  \
count    20433.000000  20640.000000  20640.000000   20640.000000
mean       537.870553   1425.476744    499.539680       3.870671
std        421.385070   1132.462122    382.329753       1.899822
min          1.000000      3.000000      1.000000       0.499900
25%        296.000000    787.000000    280.000000       2.563400
50%        435.000000   1166.000000    409.000000       3.534800
75%        647.000000   1725.000000    605.000000       4.743250
max       6445.000000  35682.000000   6082.000000      15.000100

       median_house_value
count        20640.000000
mean        206855.816909
std         115395.615874
min          14999.000000
25%         119600.000000
50%         179700.000000
75%         264725.000000
max         500001.000000

In [ ]:
print(df.isnull().sum())

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [ ]:
print(df.shape)

(20640, 10)

In [ ]:
print(df.columns)

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

In [ ]:
# print(df.head())            # View first few rows
# print(df.info())            # Summary: column names, data types, non-null counts
# print(df.describe())        # Summary stats for numeric columns
# print(df.isnull().sum())    # Count of missing values per column
# print(df.shape)             # Rows and columns
# print(df.columns)           # List of column names

World Real Estate Data

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv('/content/world_real_estate_data(147k).csv (1).zip')
print(df.head())

                                               title   country  \
0  2 room apartment 120 m² in Mediterranean Regio...    Turkey
1              4 room villa 500 m² in Kalkan, Turkey    Turkey
2          1 room apartment 65 m² in Antalya, Turkey    Turkey
3             1 room apartment  in Pattaya, Thailand  Thailand
4             2 room apartment  in Pattaya, Thailand  Thailand

                                    location  building_construction_year  \
0               Mediterranean Region, Turkey                         NaN
1  Kalkan, Mediterranean Region, Kas, Turkey                      2021.0
2      Mediterranean Region, Antalya, Turkey                         NaN
3      Chon Buri Province, Pattaya, Thailand                      2020.0
4      Chon Buri Province, Pattaya, Thailand                      2026.0

   building_total_floors  apartment_floor  apartment_rooms  \
0                    5.0              1.0              3.0
1                    2.0              NaN              NaN
2                    5.0              2.0              2.0
3                   15.0              5.0              2.0
4                    8.0              3.0              3.0

   apartment_bedrooms  apartment_bathrooms apartment_total_area  \
0                 2.0                  2.0               120 m²
1                 NaN                  NaN               500 m²
2                 1.0                  1.0                65 m²
3                 1.0                  1.0                  NaN
4                 2.0                  1.0                  NaN

  apartment_living_area  price_in_USD  \
0                110 m²      315209.0
1                480 m²     1108667.0
2                 60 m²      173211.0
3                 40 m²       99900.0
4                 36 m²       67000.0

                                               image  \
0  https://realting.com/uploads/bigSlider/ab3/888...
1  https://realting.com/uploads/bigSlider/87b/679...
2  https://realting.com/uploads/bigSlider/030/a11...
3  https://realting.com/uploads/bigSlider/e9a/e06...
4  https://realting.com/uploads/bigSlider/453/aa2...

                                                 url
0  https://realting.com/property-for-sale/turkey/...
1  https://realting.com/property-for-sale/turkey/...
2  https://realting.com/property-for-sale/turkey/...
3  https://realting.com/property-for-sale/thailan...
4  https://realting.com/property-for-sale/thailan...

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147536 entries, 0 to 147535
Data columns (total 14 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   title                       147536 non-null  object
 1   country                     147406 non-null  object
 2   location                    147405 non-null  object
 3   building_construction_year  64719 non-null   float64
 4   building_total_floors       68224 non-null   float64
 5   apartment_floor             54592 non-null   float64
 6   apartment_rooms             74178 non-null   float64
 7   apartment_bedrooms          36982 non-null   float64
 8   apartment_bathrooms         55973 non-null   float64
 9   apartment_total_area        141796 non-null  object
 10  apartment_living_area       27712 non-null   object
 11  price_in_USD                144961 non-null  float64
 12  image                       147536 non-null  object
 13  url                         147536 non-null  object
dtypes: float64(7), object(7)
memory usage: 15.8+ MB
None

In [ ]:
print(df.describe())

       building_construction_year  building_total_floors  apartment_floor  \
count                64719.000000           68224.000000     54592.000000
mean                  1996.921754               8.575692         5.791709
std                    157.527635               8.356781         5.541368
min                      1.000000              -1.000000        -2.000000
25%                   2004.000000               2.000000         2.000000
50%                   2021.000000               5.000000         4.000000
75%                   2024.000000              14.000000         8.000000
max                   2316.000000             124.000000       202.000000

       apartment_rooms  apartment_bedrooms  apartment_bathrooms  price_in_USD
count     74178.000000        36982.000000         55973.000000  1.449610e+05
mean          2.572097            2.289222             1.364229  4.121722e+05
std           1.319545           18.276913             0.745019  8.420984e+05
min          -1.000000           -1.000000             1.000000  0.000000e+00
25%           2.000000            1.000000             1.000000  1.054200e+05
50%           2.000000            2.000000             1.000000  1.902120e+05
75%           3.000000            3.000000             2.000000  3.989300e+05
max         124.000000         2009.000000            43.000000  3.060283e+07

In [ ]:
print(df.isnull().sum())

title                              0
country                          130
location                         131
building_construction_year     82817
building_total_floors          79312
apartment_floor                92944
apartment_rooms                73358
apartment_bedrooms            110554
apartment_bathrooms            91563
apartment_total_area            5740
apartment_living_area         119824
price_in_USD                    2575
image                              0
url                                0
dtype: int64

In [ ]:
print(df.shape)

(147536, 14)

In [ ]:
print(df.columns)

Index(['title', 'country', 'location', 'building_construction_year',
       'building_total_floors', 'apartment_floor', 'apartment_rooms',
       'apartment_bedrooms', 'apartment_bathrooms', 'apartment_total_area',
       'apartment_living_area', 'price_in_USD', 'image', 'url'],
      dtype='object')

House Real Estate Data From Indian Cities

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv('/content/world_real_estate_data(147k).csv (1).zip')
print(df.head())

                                               title   country  \
0  2 room apartment 120 m² in Mediterranean Regio...    Turkey
1              4 room villa 500 m² in Kalkan, Turkey    Turkey
2          1 room apartment 65 m² in Antalya, Turkey    Turkey
3             1 room apartment  in Pattaya, Thailand  Thailand
4             2 room apartment  in Pattaya, Thailand  Thailand

                                    location  building_construction_year  \
0               Mediterranean Region, Turkey                         NaN
1  Kalkan, Mediterranean Region, Kas, Turkey                      2021.0
2      Mediterranean Region, Antalya, Turkey                         NaN
3      Chon Buri Province, Pattaya, Thailand                      2020.0
4      Chon Buri Province, Pattaya, Thailand                      2026.0

   building_total_floors  apartment_floor  apartment_rooms  \
0                    5.0              1.0              3.0
1                    2.0              NaN              NaN
2                    5.0              2.0              2.0
3                   15.0              5.0              2.0
4                    8.0              3.0              3.0

   apartment_bedrooms  apartment_bathrooms apartment_total_area  \
0                 2.0                  2.0               120 m²
1                 NaN                  NaN               500 m²
2                 1.0                  1.0                65 m²
3                 1.0                  1.0                  NaN
4                 2.0                  1.0                  NaN

  apartment_living_area  price_in_USD  \
0                110 m²      315209.0
1                480 m²     1108667.0
2                 60 m²      173211.0
3                 40 m²       99900.0
4                 36 m²       67000.0

                                               image  \
0  https://realting.com/uploads/bigSlider/ab3/888...
1  https://realting.com/uploads/bigSlider/87b/679...
2  https://realting.com/uploads/bigSlider/030/a11...
3  https://realting.com/uploads/bigSlider/e9a/e06...
4  https://realting.com/uploads/bigSlider/453/aa2...

                                                 url
0  https://realting.com/property-for-sale/turkey/...
1  https://realting.com/property-for-sale/turkey/...
2  https://realting.com/property-for-sale/turkey/...
3  https://realting.com/property-for-sale/thailan...
4  https://realting.com/property-for-sale/thailan...

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147536 entries, 0 to 147535
Data columns (total 14 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   title                       147536 non-null  object
 1   country                     147406 non-null  object
 2   location                    147405 non-null  object
 3   building_construction_year  64719 non-null   float64
 4   building_total_floors       68224 non-null   float64
 5   apartment_floor             54592 non-null   float64
 6   apartment_rooms             74178 non-null   float64
 7   apartment_bedrooms          36982 non-null   float64
 8   apartment_bathrooms         55973 non-null   float64
 9   apartment_total_area        141796 non-null  object
 10  apartment_living_area       27712 non-null   object
 11  price_in_USD                144961 non-null  float64
 12  image                       147536 non-null  object
 13  url                         147536 non-null  object
dtypes: float64(7), object(7)
memory usage: 15.8+ MB
None

In [ ]:
print(df.describe())

       building_construction_year  building_total_floors  apartment_floor  \
count                64719.000000           68224.000000     54592.000000
mean                  1996.921754               8.575692         5.791709
std                    157.527635               8.356781         5.541368
min                      1.000000              -1.000000        -2.000000
25%                   2004.000000               2.000000         2.000000
50%                   2021.000000               5.000000         4.000000
75%                   2024.000000              14.000000         8.000000
max                   2316.000000             124.000000       202.000000

       apartment_rooms  apartment_bedrooms  apartment_bathrooms  price_in_USD
count     74178.000000        36982.000000         55973.000000  1.449610e+05
mean          2.572097            2.289222             1.364229  4.121722e+05
std           1.319545           18.276913             0.745019  8.420984e+05
min          -1.000000           -1.000000             1.000000  0.000000e+00
25%           2.000000            1.000000             1.000000  1.054200e+05
50%           2.000000            2.000000             1.000000  1.902120e+05
75%           3.000000            3.000000             2.000000  3.989300e+05
max         124.000000         2009.000000            43.000000  3.060283e+07

In [ ]:
print(df.isnull().sum())

title                              0
country                          130
location                         131
building_construction_year     82817
building_total_floors          79312
apartment_floor                92944
apartment_rooms                73358
apartment_bedrooms            110554
apartment_bathrooms            91563
apartment_total_area            5740
apartment_living_area         119824
price_in_USD                    2575
image                              0
url                                0
dtype: int64

In [ ]:
print(df.shape)

(147536, 14)

In [ ]:
print(df.columns)

Index(['title', 'country', 'location', 'building_construction_year',
       'building_total_floors', 'apartment_floor', 'apartment_rooms',
       'apartment_bedrooms', 'apartment_bathrooms', 'apartment_total_area',
       'apartment_living_area', 'price_in_USD', 'image', 'url'],
      dtype='object')

Indian House Price Prediction

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv('/content/world_real_estate_data(147k).csv (1).zip')
print(df.head())

                                               title   country  \
0  2 room apartment 120 m² in Mediterranean Regio...    Turkey
1              4 room villa 500 m² in Kalkan, Turkey    Turkey
2          1 room apartment 65 m² in Antalya, Turkey    Turkey
3             1 room apartment  in Pattaya, Thailand  Thailand
4             2 room apartment  in Pattaya, Thailand  Thailand

                                    location  building_construction_year  \
0               Mediterranean Region, Turkey                         NaN
1  Kalkan, Mediterranean Region, Kas, Turkey                      2021.0
2      Mediterranean Region, Antalya, Turkey                         NaN
3      Chon Buri Province, Pattaya, Thailand                      2020.0
4      Chon Buri Province, Pattaya, Thailand                      2026.0

   building_total_floors  apartment_floor  apartment_rooms  \
0                    5.0              1.0              3.0
1                    2.0              NaN              NaN
2                    5.0              2.0              2.0
3                   15.0              5.0              2.0
4                    8.0              3.0              3.0

   apartment_bedrooms  apartment_bathrooms apartment_total_area  \
0                 2.0                  2.0               120 m²
1                 NaN                  NaN               500 m²
2                 1.0                  1.0                65 m²
3                 1.0                  1.0                  NaN
4                 2.0                  1.0                  NaN

  apartment_living_area  price_in_USD  \
0                110 m²      315209.0
1                480 m²     1108667.0
2                 60 m²      173211.0
3                 40 m²       99900.0
4                 36 m²       67000.0

                                               image  \
0  https://realting.com/uploads/bigSlider/ab3/888...
1  https://realting.com/uploads/bigSlider/87b/679...
2  https://realting.com/uploads/bigSlider/030/a11...
3  https://realting.com/uploads/bigSlider/e9a/e06...
4  https://realting.com/uploads/bigSlider/453/aa2...

                                                 url
0  https://realting.com/property-for-sale/turkey/...
1  https://realting.com/property-for-sale/turkey/...
2  https://realting.com/property-for-sale/turkey/...
3  https://realting.com/property-for-sale/thailan...
4  https://realting.com/property-for-sale/thailan...

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147536 entries, 0 to 147535
Data columns (total 14 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   title                       147536 non-null  object
 1   country                     147406 non-null  object
 2   location                    147405 non-null  object
 3   building_construction_year  64719 non-null   float64
 4   building_total_floors       68224 non-null   float64
 5   apartment_floor             54592 non-null   float64
 6   apartment_rooms             74178 non-null   float64
 7   apartment_bedrooms          36982 non-null   float64
 8   apartment_bathrooms         55973 non-null   float64
 9   apartment_total_area        141796 non-null  object
 10  apartment_living_area       27712 non-null   object
 11  price_in_USD                144961 non-null  float64
 12  image                       147536 non-null  object
 13  url                         147536 non-null  object
dtypes: float64(7), object(7)
memory usage: 15.8+ MB
None

In [ ]:
print(df.describe())

       building_construction_year  building_total_floors  apartment_floor  \
count                64719.000000           68224.000000     54592.000000
mean                  1996.921754               8.575692         5.791709
std                    157.527635               8.356781         5.541368
min                      1.000000              -1.000000        -2.000000
25%                   2004.000000               2.000000         2.000000
50%                   2021.000000               5.000000         4.000000
75%                   2024.000000              14.000000         8.000000
max                   2316.000000             124.000000       202.000000

       apartment_rooms  apartment_bedrooms  apartment_bathrooms  price_in_USD
count     74178.000000        36982.000000         55973.000000  1.449610e+05
mean          2.572097            2.289222             1.364229  4.121722e+05
std           1.319545           18.276913             0.745019  8.420984e+05
min          -1.000000           -1.000000             1.000000  0.000000e+00
25%           2.000000            1.000000             1.000000  1.054200e+05
50%           2.000000            2.000000             1.000000  1.902120e+05
75%           3.000000            3.000000             2.000000  3.989300e+05
max         124.000000         2009.000000            43.000000  3.060283e+07

In [ ]:
print(df.isnull().sum())

title                              0
country                          130
location                         131
building_construction_year     82817
building_total_floors          79312
apartment_floor                92944
apartment_rooms                73358
apartment_bedrooms            110554
apartment_bathrooms            91563
apartment_total_area            5740
apartment_living_area         119824
price_in_USD                    2575
image                              0
url                                0
dtype: int64

In [ ]:
print(df.shape)

(147536, 14)

In [ ]:
print(df.columns)

Index(['title', 'country', 'location', 'building_construction_year',
       'building_total_floors', 'apartment_floor', 'apartment_rooms',
       'apartment_bedrooms', 'apartment_bathrooms', 'apartment_total_area',
       'apartment_living_area', 'price_in_USD', 'image', 'url'],
      dtype='object')